<?xml version="1.0" encoding="utf-8"?><!--
 ! Excerpted from "Hello, Android",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material,
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose.
 ! Visit http://www.pragmaticprogrammer.com/titles/eband3 for more book information.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mods.powerfulyou"
    android:versionCode="1"
    android:versionName="1.0">
<application>
    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="10" />

        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <android:uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="18" />
        <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
        <android:uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"
            android:maxSdkVersion="18" />

        <activity
            android:name=".PowerfulYou"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Health"
            android:label="@string/title_activity_health" />
        <activity
            android:name=".HealthQuiz"
            android:label="Health Quiz" />
        <activity
            android:name=".Emergency"
            android:label="@string/title_activity_emergency" />
        <activity
            android:name=".EmergencyStats"
            android:label="@string/title_activity_emergencystats" />
        <activity
            android:name=".Medical"
            android:label="@string/title_activity_medical" />
        <activity
            android:name=".MedicalTools"
            android:label="@string/title_activity_medicaltools" />
        <activity
            android:name=".Strength"
            android:label="@string/title_activity_strength" />
        <activity
            android:name=".YogaPose1"
            android:label="@string/title_activity_yogapose1" />
        <activity
            android:name=".YogaPose2"
            android:label="@string/title_activity_yogapose2" />
        <activity
            android:name=".YogaPose3"
            android:label="@string/title_activity_yogapose3" />
        <activity
            android:name=".Brainteasers"
            android:label="@string/title_activity_brainteasers" />
        <activity
            android:name=".CalorieCounter"
            android:label="@string/title_activity_caloriecounter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Skeleton"
            android:label="@string/title_activity_skeleton" />
        <activity
            android:name=".Credits"
            android:label="@string/title_activity_credits" />

        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter>
                <action android:name="org.mods.powerfulyou" />
            </intent-filter>
        </receiver>

        <activity android:name=".careers" />
        <activity android:name=".electricalsystem"></activity>
    </application>

</manifest>