<?xml version="1.0" encoding="utf-8"?>
<!--
 ! Excerpted from "Hello, Android",
 ! published by The Pragmatic Bookshelf.
 ! Copyrights apply to this code. It may not be used to create training material, 
 ! courses, books, articles, and the like. Contact us if you are in doubt.
 ! We make no guarantees that this code is fit for any purpose. 
 ! Visit http://www.pragmaticprogrammer.com/titles/eband3 for more book information.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mods.powerfulyou"
    android:versionCode="1"
    android:versionName="1.0"
    >


    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="10" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

        <android:uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="18" />
        <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
        <android:uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"
            android:maxSdkVersion="18" />

        <activity
            android:name="org.mods.powerfulyou.PowerfulYou"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.mods.powerfulyou.Health"
            android:label="@string/title_activity_health" >
        </activity>
        <activity
            android:name="org.mods.powerfulyou.HealthQuiz"
            android:label="Health Quiz" >
        </activity>

        <activity
            android:name="org.mods.powerfulyou.Emergency"
            android:label="@string/title_activity_emergency" >
        </activity>
        <activity
            android:name="org.mods.powerfulyou.EmergencyStats"
            android:label="@string/title_activity_emergencystats" >
        </activity>

        <activity
            android:name="org.mods.powerfulyou.Medical"
            android:label="@string/title_activity_medical" >
        </activity>
        <activity
            android:name="org.mods.powerfulyou.MedicalTools"
            android:label="@string/title_activity_medicaltools" >
        </activity>
        <activity
            android:name="org.mods.powerfulyou.Strength"
            android:label="@string/title_activity_strength" >
        </activity>
        <activity
            android:name="org.mods.powerfulyou.YogaPose1"
            android:label="@string/title_activity_yogapose1" >
        </activity>
        <activity
            android:name="org.mods.powerfulyou.YogaPose2"
            android:label="@string/title_activity_yogapose2" >
        </activity>
        <activity
            android:name="org.mods.powerfulyou.YogaPose3"
            android:label="@string/title_activity_yogapose3" >
        </activity>
        <activity
            android:name="org.mods.powerfulyou.Brainteasers"
            android:label="@string/title_activity_brainteasers" >
        </activity>

        <activity
            android:name="org.mods.powerfulyou.Hygiene"
            android:label="@string/title_activity_hygiene"
            >
        </activity>
        <activity
            android:name="org.mods.powerfulyou.CalorieCounter"
            android:label="@string/title_activity_caloriecounter"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.mods.powerfulyou.Skeleton"
            android:label="@string/title_activity_skeleton"
            >
        </activity>
        <activity
            android:name="org.mods.powerfulyou.Credits"
            android:label="@string/title_activity_credits"
            >
        </activity>

        <receiver android:name=".MyBroadcastReceiver">
            <intent-filter>
                <action android:name="org.mods.powerfulyou" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
